.entry__placeholder {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  color: #ccc;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
