.entry__input {
  box-sizing: border-box;
  color: #fff;
  background: #000;
  border: none;
  height: 27px;
  padding-bottom: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  border-bottom: 2px solid #ccc;
  transition: border-color 0.3s ease;
  overflow: visible;
}

.entry__input::placeholder {
  color: #ccc;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.entry__input:focus {
  outline: none;
  border-color: #fff;
}

.entry__input:focus::placeholder {
  color: red;
  transform: translate(-10px, -10px)
}

.entry__input:focus + .entry__placeholder, .entry__input:not(:placeholder-shown) + .entry__placeholder {
  transform: scale(0.75) translateY(-130%) translateX(-5px);
}
.entry__input:-webkit-autofill,
.entry__input:-webkit-autofill:hover, 
.entry__input:-webkit-autofill:focus, 
.entry__input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px black inset;
}

.entry__input:-webkit-autofill{
    -webkit-text-fill-color: white;
}
